.cardContainer {
    min-height: 45vh;
    /* position: relative; */
    background-image: radial-gradient(#62338d7a 2px, transparent 2px), radial-gradient(#62338d75 2px, transparent 2px);
    background-size: 45px 45px;
    background-position: 0 0, 22.5px 22.5px;
    background-color: rgba(140, 245, 182, 0);
}

.title {
    text-transform: uppercase;
    display: inline;
    font-size: 35px;
    background-color: var(--textColor);
    color: var(--bg);
    background: var(--textColor);
    padding: 2px 10px;
    border-radius: 5px;
}

.list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    margin-top: 50px;
}

.seemore {
    margin-top: 20px;
    padding: 5px 10px;
    font-size: 20px;
    border-radius: 10px;
    display: inline-block;
    font-weight: bold;
    color: var(--bg);
    background-color: var(--textColor);
}

.seemore:active {
    transform: scale(0.96);
}

@media screen and (max-width:1024px) {


}

@media screen and (max-width:768px) {
    .list {
        justify-content: center;
    }
}
  
@media screen and (max-width:576px) {
    .list {
        justify-content: center;
    }
}