.footer {
    height: 100px;
    margin-top: 50px;
    border-top: 2px solid rgb(100 116 139);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footertext {
    letter-spacing: 1.5px;
}

.contact {
    padding: 5px 10px;
    font-size: 20px;
    border-radius: 10px;
    display: inline-block;
    font-weight: bold;
    color: var(--bg);
    background-color: var(--textColor);
}

.contact:active {
    transform: scale(0.96);
}